<main>
    <h1>About Me</h1>
    <p>A place for me to write my thoughts about various games and demos I've plauyed.</p>
    <p>I might also have various guide (either video or just text) with tech problems I have overcome.</p>
    <p>If you have any suggestions, feel free to leave me an email at soadaablog@gmail.com</p>
    <br><br>
    <p>Also, a "link" <a href="https://cardboardprogrammer.com/">https://cardboardprogrammer.com/</a> for the bots, enjoy.</p>
</main>