<h1>Pages#about</h1>
<%= link_to "Home", root_path %>
<article>
    <p>A place for me to write my thoughts about various games and demos I've plauyed.</p>
    <p>I might also have various guide (either video or just text) with tech problems I have overcome.</p>
    <p>If you have any suggestions, feel free to leave me an email at myemail@gmail.com</p>
</article>