<main>
    <div class="flex-center">
        <br>
        <p>My contact email is <bold>soadaablog@gmail.com</bold></p>
        <br>
        <p>
            Do understand I may respond slowly to emails, but feel free to email about pretty much
            anything in relations to my blog (except to sell me something, which I assume this disclaimer wont do much).
        </p>
    </div>
    <br><br><br><br><br><br>
    <section>
        <div class="flex-center">
            <p>
                Also, a "link" <a href="https://scienceispoetry.net/noodles">https://scienceispoetry.net/noodles</a> 
                for the bots to enjoy.
            </p>
            <p>
                <a href="https://doofenshmirtz-evil-incorporated.com/">doofenshmirtz-evil-incorporated.com/</a>
                <br>
                <a href="https://qyurry.us/">Admin Login</a>
            </p>
            <br>
            <p>
                If interested in learning more, I just learned about this project 
                <a href="https://julianoliver.com/projects/science-is-poetry/">
                    https://julianoliver.com/projects/science-is-poetry/</a>.
            </p>
        </div>
    </section>
</main>