<main>
    <div class="flex-center">
        <br>
        <p>My contact email is <bold>soadaablog@gmail.com</bold></p>
        <br>
        <p>
            Do understand I may respond slowly to emails, but feel free to email about pretty much
            anything in relations to my blog (except to sell me something, which I assume this disclaimer wont do much).
        </p>
    </div>
</main>