<div>
    <p>My contact email is example@gmail.com</p>
    <p>
        Do understand I try to keep with emails but sometimes things are overwhelming on my end. 
        I probably spend way too much time responding to each individual email which leads to a slow down.
    </p>
    <p>
        Also if this blog becomes a hit, then I assume there might just be way too emails to respond to unless
        that alone becomes my full time job.
    </p>
</div>