<main>
    <h1>Home</h1>
    <p>Doloribus, quis quo. Repellendus culpa minus quaerat ut vel quas asperiores obcaecati dolorem perferendis labore quod dolorum iusto aliquam minima earum, tempore natus illo qui expedita omnis totam ab? 
        Quibusdam totam doloremque ad id aut, iste dicta accusamus corrupti mollitia autem necessitatibus suscipit aliquid consequuntur veniam numquam adipisci sint laborum magnam dolore architecto maiores.</p>
    <p>Quidem, ipsum maiores! Laborum eos accusantium nemo, soluta obcaecati modi temporibus commodi saepe at labore, fuga aspernatur quisquam sequi dicta. Laborum dolore rem doloribus deleniti, et error. Accusamus dolores porro cum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, possimus?</p>

    <h2>Featured</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
</main>