<main class="updates-page">
    <h1 class="mb-1">Site Updates</h1>
    <p class="small-text"><em>Doesn't include every little change, just more major ones.</p>
    <p class="mb-1 small-text">Also this page was made with haste, might look weird on certain sizes. 
    <span class="v-small-text">And it contains gross, hard-coded html.</span></em></p>

    <section class="flex-center">
        <h3><p class="underline"><time datetime="2026-07-02">July 2nd, 2026</time></p></h3>
        <div>
            <p>
                Added links to possibly trap rogue ai web crawlers 
                (More info at: <a href="https://julianoliver.com/projects/science-is-poetry/">Julian Oliver - Science is Poetry</a>).
            </p>
            <br>
            <p>
                Show Posts count post-filter.
                <br>(Trying to be funny here with wording, but after you select a way to sort/filter posts the page shows a count of how
                many posts are being shown).
            </p>
            </br>

            <p>
                Slightly better authenticate system. 
                <br> Things are much simplier since I only have to worry about one account (my own). So I don't need to worry about sign-ups, 
                password resets and email verifacation. 
                <br> I dislike discussing details so I don't, unwittingly, give away info to malicous actors. 
            </p>
            <br>
            
            <p>
                Since I don't have to worry about users, I can aggresively limit login attempts as one example though.
            </p>
        </div>
    </section>
    <section class="flex-center">
        <h3><p class="underline"><time datetime="2026-06-25">June 25th, 2026:</time></p></h3>
        <div>
            <p>
                Changed the default favicon (image you see on your browser tab), but it is a little small and stretched.
            </p>
            <br>

            <p>
                Allow subcategory filtering for Games category. I cheated a bit on this one but I dont think (at least for a while) I'll want
                subcategories outside of game posts (Impression vs review and not RPG vs FPS).
            </p>
            <br>

            <p>
                Added email (soadaablog@gmail.com) for anyone to contact about anything (Except for trying to sell me stuff, but I know that disclaimer wont achieve anything).
            </p>
        </div>
    </section>
    <section class="flex-center">
        <h3><p class="underline"><time datetime="2026-06-17">June 17th, 2026:</time></p></h3>
        <div>
            <p>
                Cover images responsive to different screen widths.
                Makes use of image format webp and quality saver for quicker loading on mobile/tablet.
            </p>
        </div>
    </section>
</main>