<main class="updates-page">
    <h1 class="mb-1">Site Updates</h1>
    <p class="small-text"><em>Doesn't include every little change, just more major ones.</p>
    <p class="mb-1 small-text">Also this page was made with haste, might look weird on certain sizes</em></p>

    <section class="flex-center">
        <div><p><time datetime="2026-06-25">June 25th, 2026:</time></p></div>
        <div>
            <p>
                Changed the default favicon (image you see on your browser tab), but it is a little small and stretched.
            </p>
            <br>
            <p>
                Allow subcategory filtering for Games category. I cheated a bit on this one but I dont think (at least for a while) I'll want
                subcategories outside of game posts (Impression vs review and not RPG vs FPS).
            </p>
            <br>
            <p>
                Added email (soadaablog@gmail.com) for anyone to contact about anything (Except for trying to sell me stuff, but I know that disclaimer wont achieve anything).
            </p>
        </div>
    </section>
    <section class="flex-center">
        <div><p><time datetime="2026-06-17">June 17th, 2026:</time></p></div>
        <div>
            <p>
                Cover images responsive to different screen widths.
                Makes use of image format webp and quality saver for quicker loading on mobile/tablet.
            </p>
        </div>
    </section>
</main>