<p style="color: green"><%= notice %></p>

<% content_for :title, "Soadaa's Blog - Posts" %>

<h1 class="capitalize">
  <%= @category.pluralize %>
</h1>

<main id="posts">
  <% @posts.each do |post| %>
    <p class="capitalize">
      <%= time_tag post.created_at, post.created_at.strftime("%B %d, %Y") %>
      -
      <%= link_to post.title, post %>
    </p>
  <% end %>

<% if @posts.first.nil? %>
  <p>No posts of this category type yet!</p>
<% end %>
</main>