<p style="color: green"><%= notice %></p>

<% content_for :title, @post.title %>

<main>
  <div class="post-show">
    <% cache @post do %>
      <%= render @post %>
    <% end %>
  </div>
</main>


<div class="post-show-back capitalize">
  <%= link_to "back to posts", posts_path %>
</div>
