<p style="color: green"><%= notice %></p>

<% content_for :title, @post.title %>

<div class="post-show">
  <%= render @post %>
</div>


<div class="post-show-back capitalize">
  <%= link_to "back to posts", posts_path %>
</div>
