/* Mobile Default */
/* pseudo slectors */
:root {
    --primary-color: black;
    --secondary-color: tan;
    --accent-color: lightblue;
    --text-color: #faf5f6e3;
    --background-color: #123;
}

/* Element type selectors */
html {
    font-size: 16px;
}

body {
    font-family: monospace, Consolas, Monaco, 'Courier New', monospace;
    background-color: var(--background-color);
    padding: 1.5rem;
}



a, a:visited {
    color: var(--accent-color);
}

a:hover {
    color: var(--secondary-color);
    filter: brightness(110%);
}

h1, h2, h3, h4, h5, h6  {
    color: var(--secondary-color);
}

p, div {
    color: var(--text-color)
}

/* ID selectors */
#nav-menu {
    max-width: 600px;
    .nav-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        padding-inline-start: 0;
        overflow: visible;
        li {
            min-width: 0;
            margin: 0.4rem;
        }
    }
}

/* Class selectors */
.home-header {
    margin-bottom: 2rem;
}
.home-post {
    margin-top: 4rem;

    .home-latest-post-header {
        margin-bottom: 2.5rem;
    }
}
.post-body {
    margin-top: 2rem;
    padding: 0.4rem;
}

.post-show-back {
    margin-top: 4rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
    body {
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1.125rem /* 18px */;
    }

    #nav-menu {
        max-width: 800px;
        margin: 0 auto;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {  
    body {
        padding-left: 12rem;
        padding-right: 12rem;
        font-size: 1.25rem /* 20px */;
    }

    #nav-menu {
        max-width: 1000px;
    }
}

/* Custom CSS classes */
.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.small-text {
    font-size: 0.82rem;
}

.hidden {
    display: none;
}