/* Mobile Default */
/* pseudo slectors */
:root {
    --primary-color: black;
    --secondary-color: red;
    --text-color: #faf5f6e3;
    --background-color: #123;
}

/* Element type selectors */
html {
    font-family: monospace, Consolas, Monaco, 'Courier New', monospace;
    background-color: var(--background-color);
    padding: 1.5rem;
}

a:visited {
    color: blue;
}

a:hover {
    color: var(--secondary-color);
    filter: brightness(110%);
}

h1, h2, h3, h4, h5, h6  {
    color: var(--secondary-color);
}

p {
    color: var(--text-color)
}

/* ID selectors */
#nav-menu {
    max-width: 600px;
    .nav-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        padding-inline-start: 0;
        overflow: visible;
        li {
            min-width: 0;
            margin: 0.4rem;
        }
    }

    .nav-list li:not(:last-child)::after {
        /* content: "|"; */
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

/* Class selectors */
.post {
    div {
        margin: 0.5rem;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {  
    
}

/* Desktop */
@media screen and (min-width: 1024px) {  
    
}

/* Custom CSS classes */
.hidden {
    display: none;
}