/*  Primary color not really used, but then the only 'most used/primary' color 
    is either text or background color, which I like the var name used as is. 
*/
        /* Mobile Default */

    /* pseudo slectors */
:root {
    /* Dark */
    --primary-color: darkslateblue;
    --secondary-color: tan;
    --accent-color: lightBlue;
    --text-color: hsla(348 33 97 / 0.89);
    --background-color: hsl(210 50 13);
    .theme-icon {
        filter: invert(70%);
    }
}

/* Light */
body.light {
    --primary-color: grey;
    --secondary-color: blue;
    --accent-color: mediumseagreen;
    --text-color: black;
    --background-color: ivory;
    .theme-icon {
        filter: invert(0);
    }
}

/* Loud */
body.neon {
    --primary-color: silver;
    --secondary-color: purple;
    --accent-color: lightgreen;
    --text-color: darkslateblue;
    --background-color: magenta;
    .theme-icon {
        filter: invert(0);
    }
}

body.milk {
    --primary-color: hsl(336, 17%, 11%);
    --secondary-color: hsl(98, 64%, 83%);
    --accent-color: hsl(244, 39%, 49%);
    --text-color: hsl(0, 17%, 98%);
    --background-color: hsl(231, 30%, 74%);
    .theme-icon {
        filter: invert(0);
    }
}

body.colorblind {
    --primary-color: hsl(327 45 64);
    --secondary-color: hsl(41 100 45);
    --accent-color: hsl(26 100 42);
    --text-color: black;
    --backgroundcolor: hsl(202 100 35);
    .theme-icon {
        filter: invert(90%);
    }
}

    /* Element type selectors */
*:focus-visible {
    outline: 3px solid hotpink;
}

html {
    font-size: 16px;
}

body {
    font-family: monospace, Consolas, Monaco, 'Courier New', monospace;
    background-color: var(--background-color);
}

main {
    padding: 1rem;
    &::after {
        content: "";
        display: block;
        padding-bottom: 70vh;
    }
}

footer {
    position: sticky;
    background-color: var(--primary-color);
}

a, a:visited {
    color: var(--accent-color);
}

a:hover {
    color: var(--secondary-color);
    filter: brightness(110%);
}

abbr {
  font-style: italic;
  color: var(--secondary-color);
}

article {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6  {
    color: var(--secondary-color);
}

p {
    color: var(--text-color);
}

    /* ID selectors */
#nav-menu {
    max-width: 80vw;
    padding: 2rem 1rem;

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        list-style-type: none;
        justify-content: center;
        padding-inline-start: 0;
        padding-inline-end: 1rem;
        overflow: visible;
        li {
            min-width: 0;
            gap: 1rem;
        }
    }

    .theme-menu-toggle {
        position: absolute;
        top: 1rem;
        right: 1rem;
        aspect-ratio: 1;
    }

    .menu-bg-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgb(0 0 0 / 0.3);
        backdrop-filter: blur(0.3rem);
    }
}

#posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}

    /* Class selectors */
.home-header {
    margin-bottom: 2rem;
}

.home-intro > p {
    margin: 1.5rem 0rem;
}

.home-post {
    margin-top: 4rem;

    .home-latest-post-header {
        margin-bottom: 2.5rem;
    }
}

.post-body {
    margin-top: 2rem;
}

.post-show-back {
    margin-top: 4rem;
}

.theme-icon:hover {
    filter: brightness(150%);
    border-block-start: 1px solid transparent;
    border-block-end: 1px solid transparent;
    background: radial-gradient(var(--secondary-color), transparent);
    border-radius: 70%;
    opacity: 80%;
}

.theme-popup-menu {
    position: fixed;
    background-color: var(--accent-color);
    color: var(--primary-color);
    outline: 4px solid var(--primary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem 2rem 1rem;

    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1000ms;

    li {
        list-style: none;
        width: 100%;
        color: var(--background-color);
        background-color: var(--accent-color);
        filter: brightness(110%);
        text-align: center;
        margin: 0.4rem 1rem;
        padding: 0.2rem;
        outline: 1px solid var(--primary-color);
        box-shadow: 2px 0px 8px 0px;        
    }

    .theme-popup-close {
        position: absolute;
        padding: 1rem;
        top: 1%;
        right: 5%;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;

    footer {
        min-height: 15vh;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        .footer-links {
            display: flex;
            justify-content: space-between;

            .footer-link-item {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }

        .footer-image {
            margin-top: 1rem;
        }
    }

}

/* Tablet */
@media screen and (min-width: 768px) {
    body {
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1.125rem /* 18px */;
    }

    #nav-menu {
        max-width: 800px;
        margin: 0 auto;
        justify-content: space-between;
    }
}

        /* Desktop */
@media screen and (min-width: 1024px) {  
    
    main::after {
        padding-bottom: 100vh;
    }

    body {
        padding-inline: 12rem;
        font-size: 1.25rem /* 20px */;
    }

    #nav-menu {
        min-width: 1000px;
    }
}

        /* Custom CSS classes */
.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.italy {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.small-text {
    font-size: 0.82rem;
}

.hidden {
    display: none !important;
}

.text-color {
    color: var(--text-color);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.prose > * + * {
    margin-block-start: var(--prose-flow, 1em);
}

.debug {
    outline: 2px solid red;
}