<div class="footer-container">
    <footer>
        <div class="capitalize footer-links">
            <%= link_to "youtube", "https://www.youtube.com/@Soadaa5656", class: "footer-link-item" %>
            <%= link_to "contact me", contact_path, class: "footer-link-item" %>
            <%= link_to "RSS", feed_path, class: "footer-link-item" %>
        </div>
        <p>© <small>Soadaa 2026</small></p>
    </footer>
</div>