<div class="footer-container">
    <footer>
        <div class="capitalize footer-links">
            <%= link_to "about me", about_path, class: "footer-link-item"%>
            <%= link_to "contact me", contact_path, class: "footer-link-item"%>
        </div>
        <%= image_tag "logo/yt-logo.jpg", class: "footer-image" ,size: 48, alt: "Youtube logo, link to Soadaa youtube channel" %>
        <p>© Soadaa <%= Time.current.year %></p>
    </footer>
</div>