<nav id="nav-menu">
    <div class="home-logo">
        <p>Soadaa's Blog</p>
    </div>
    <ul>
        <li><%= link_to "home", root_path %></li>
        <li>Reviews</li>
        <li>Rankings</li>
        <li>Blog</li>
        <li>Guides</li>
        <li>About Me</li>
        <li>Contact Me</li>
    </ul>
    <div>(placeholder search)</div>
</nav>
